<div class="footer">
    <div class="footer-section">
      <h3>PRODUITS</h3>
      <ul>
        <li>Promotions - Parapharmacie en Ligne - Green Para shop</li>
        <li>Nouveaux Produits - Parapharmacie en Ligne - Green Para shop</li>
        <li>Meilleures Ventes - Parapharmacie en Ligne - Green Para shop</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>NOTRE SOCIÉTÉ</h3>
      <ul>
        <li>Politique de confidentialité</li>
        <li>Conditions d'utilisation</li>
        <li>A propos</li>
        <li>Contacter Green Para shop - Parapharmacie en Ligne - Green Para shop</li>
        <li>Plan de site - Parapharmacie en Ligne - Green Para shop</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>INFORMATIONS</h3>
      <p>Green Para shop</p>
      <p>Tunisia</p>
      <p>Écrivez-nous : contactparafendri.tn</p>
      <div class="map">
        <p>Google Maps </p>
      </div>
    </div>
    <div class="footer-section">
      <h3>SUIVEZ NOUS</h3>
      <div class="social-icons">
        <a href="#"><img src="./assets/image/fb.png" alt="Facebook"></a>
        <a href="#"><img src="./assets/image/yt.png" alt="YouTube"></a>
        <a href="#"><img src="./assets/image/ins.png" alt="Instagram"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    Parafendri©, Powered by Mediacom.
  </div>
  