<header>
  <div class="top-bar">
    <p>🚚 Livraison gratuite à partir de 99 DT d'achat</p>
    <button class="install-btn">📞 +216 53659874</button>
  </div>

  <div class="header-content">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher" />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="logo">
      <img src="./assets/image/logo.PNG" alt="Logo" />
    </div>
    <div class="icons">
      <!-- Icône utilisateur -->
      <span class="user-icon">
        <img src="./assets/image/user.png" alt="User Icon" (click)="navigateToLogin()"/>
      </span>
      <!-- Icône panier -->
      <span class="cart-icon">
        <img src="./assets/image/panier.png" alt="Cart Icon" />
        <span class="cart-count">0</span>
      </span>
    </div>
  </div>
</header>

