<div class="categories-header">
  <ul class="categories-list">
    <li class="category-item"><a [routerLink]="['/visage']">Visage</a></li>
    <li class="category-item"><a routerLink="/corps">Corps</a></li>
    <li class="category-item"><a routerLink="/cheveux">Cheveux</a></li>
    <li class="category-item"><a routerLink="/maman-et-bebe">Maman Et Bébé</a></li>
    <li class="category-item"><a routerLink="/solaire">Solaire</a></li>
    <li class="category-item"><a routerLink="/hygiene">Hygiène</a></li>
    <li class="category-item"><a routerLink="/hommes">Hommes</a></li>
    <li class="category-item"><a routerLink="/complements">Compléments Alimentaires</a></li>
  </ul>
</div>
